/*---------------------------------------------Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Open+Sans:wght@600&display=swap");

body {
  background-color: #ebc246;
  font-family: "Open Sans";
}
.piano-container {
  padding: 0;
}

.page-title {
  font-family: "Leckerli One";
}
.header {
  border-bottom: 2px solid black;
}

.footer-row {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  background-color: black;
  color: white;
}

.about-info{
    color: white;
    text-align: right;
    padding-right: 2rem;
}

#song {
  float: right;
}
#song-info {
  padding-top: 5px;
  padding-bottom: 5px;
}
/*--------------Piano CSS code heavily influenced by a YouTube tutorial by Kyle.  https://www.youtube.com/watch?v=vjco5yKZpU8 */
*::before,
*::after {
  box-sizing: border-box;
}

body {
  justify-content: center;
}

.piano {
  display: flex;
  height: calc(var(--width) * 4);
  justify-content: center;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 45px;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #ccc;
}

.white.active-comp {
  background-color: red;
}

.black {
  --width: 27px;
  background-color: black;
  border: 1px solid #333;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

.black.active-comp {
  background-color: red;
}

@media screen and (min-width: 1000px) {
  .white {
    --width: 80px;
    background-color: white;
    border: 1px solid #333;
  }

  .black {
    --width: 50px;
    background-color: black;
    border: 1px solid #333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
  }
}

@media screen and (min-width: 1600px) {
  .white {
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
  }

  .black {
    --width: 60px;
    background-color: black;
    border: 1px solid #333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
  }
}
/*--------------End of Piano CSS code heavily influenced by a YouTube tutorial by Kyle.  https://www.youtube.com/watch?v=vjco5yKZpU8 */
.make-larger-info {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(78, 78, 78);
  z-index: 4;
  cursor: pointer;
  color: whitesmoke;
  padding-top: 60%;
}

@media screen and (max-width: 550px) {
  .page-content {
    display: none;
  }

  .make-larger-info {
    display: block;
  }
}
