/*---------------------------------------------Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Open+Sans:wght@600&display=swap");

body {
  background-color: #ebc246;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  top: 4em;
}

/*-------------------------Screen Overlay for small screens*/
.make-larger-info {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(78, 78, 78);
  z-index: 4;
  cursor: pointer;
  color: whitesmoke;
  padding-top: 60%;
}

/*----Hides page content and shows the overlay on smaller screens*/
@media screen and (max-width: 550px) {
  .page-content {
    display: none;
  }

  .make-larger-info {
    display: block;
  }
}

@media screen and (max-width:575px) {
  .instructions {
    text-align: left !important;
  }  
}

/*-----------------------------Alert Box for tablet sized screens*/
.make-larger-info-tablet {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 4;
  cursor: pointer;
  color: whitesmoke;
}

/*---------------------------------------------Header*/
.header {
  border-bottom: .1em solid black;
  background: #ebc246 !important
}

.page-title {
  font-family: "Leckerli One", cursive;
  padding-right: 0;
}

.home-btn {
    font-size: 1rem !important;
}

#song {
  float: right;
}
#song-info {
  padding-top: .4em;
  padding-bottom: .4em;
}

.settings {
  text-align: right;
}

.landing-info {
    background-color: #333333;
    color: white;
}

.landing-info-top {
    margin-top: 4em;    
}

.landing-info-bottom {
    padding-bottom: 2em;   
}

/*---------------------------------------------Footer*/
.footer-row {
  border: .2em;
  background-color: black;
  color: white;
  margin-top: 4.5em;
}

/*-- navbar-brand is used because the image in this class
is used in some apps as a preview for the site --*/
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.about-info {
  color: white;
  text-align: right;
  padding-right: 2em;
}

/*--------------Piano CSS, influenced by a YouTube tutorial by Kyle.  https://www.youtube.com/watch?v=vjco5yKZpU8 */
.piano-container {
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

.piano {
  display: flex;
  height: calc(var(--width) * 4);
  justify-content: center;
  padding: 0;
  background-color: black;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.notetext {
  position: absolute;
  bottom: 0;
  padding-left: 40%;
  padding-bottom: 1rem;
}

.notetext-b {
  position: absolute;
  bottom: 0;
  padding-left: 30%;
  padding-bottom: 0.5rem;
  font-size: .6em;
  color: whitesmoke;
}

.white {
  --width: 45px;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
}

.white.active-comp {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.black {
  --width: 27px;
  background-color: black;
  border: 1px solid #333;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

.black.active-comp {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

/*--Media queries to resize the piano at diffrent screen sizes--*/
@media screen and (min-width: 1000px) {
  .white {
    --width: 85px;
    background-color: white;
    border: 1px solid #333;
  }

  .black {
    --width: 50px;
    background-color: black;
    border: 1px solid #333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
  }
}

@media screen and (min-width: 1200px) {
  .white {
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
  }

  .black {
    --width: 60px;
    background-color: black;
    border: 1px solid #333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
  }
}
/*--------------End of Piano CSS code influenced by a YouTube tutorial by Kyle.  https://www.youtube.com/watch?v=vjco5yKZpU8 */

/*--Class to turn off selection of text for notes on the piano--*/
.no-select {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
